{% extends "base.html" %}


{% block content %}
<h2 align="center">Works Log</h2>
{% for job in jobs %}
<h3>Action # {{ job.id }}</h3>
<div class="table_container">
    <table class="table table-hover">
        <tr class="my_row">
            <td width="400px" class="table-secondary">Title of activity</td>
            <td width="150px" class="table-secondary">Team leader</td>
            <td width="100px" align="center" class="table-secondary">Duration</td>
            <td width="200px" align="center" class="table-secondary">List of collaborators</td>
            <td width="100px" class="table-secondary">Is finished</td>
        </tr>
        <tr class="my_row">
            <td class="table-primary">{{ job.job.capitalize() }}</td>
            <td class="table-primary">{{ names[job.team_leader][0]}} {{ names[job.team_leader][1]}}</td>
            <td class="table-primary">{{ job.work_size }} hours</td>
            <td class="table-primary">{{ job.collaborators }}</td>
            {% if job.is_finished %}
            <td class="table-success"> Is finished</td>
            {% else %}
            <td class="table-warning">Is not finished</td>
            {% endif %}
        </tr>
    </table>
</div>
{% endfor %}
{% endblock %}